footer.bg-gray-900.text-white.py-8
  .container.mx-auto.px-4
    .grid.grid-cols-1.gap-8(class='md:grid-cols-4')
      div
        h3.text-lg.font-semibold.mb-4 V&#x1EC1; PhoneStore
        p.text-gray-400 Ch&uacute;ng t&ocirc;i cung c&#x1EA5;p c&aacute;c s&#x1EA3;n ph&#x1EA9;m &dstrok;i&#x1EC7;n tho&#x1EA1;i ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao v&#x1EDB;i d&#x1ECB;ch v&#x1EE5; t&#x1ED1;t nh&#x1EA5;t.
      div
        h3.text-lg.font-semibold.mb-4 Li&ecirc;n k&#x1EBF;t nhanh
        ul.space-y-2
          li
            a.text-gray-400(href='/about' class='hover:text-white') V&#x1EC1; ch&uacute;ng t&ocirc;i
          li
            a.text-gray-400(href='/contact' class='hover:text-white') Li&ecirc;n h&#x1EC7;
          li
            a.text-gray-400(href='/faq' class='hover:text-white') FAQ
          li
            a.text-gray-400(href='/privacy' class='hover:text-white') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
      div
        h3.text-lg.font-semibold.mb-4 Li&ecirc;n h&#x1EC7;
        p.text-gray-400 123 &Dstrok;&#x1B0;&#x1EDD;ng ABC, Qu&#x1EAD;n XYZ
        p.text-gray-400 TP. H&#x1ED3; Ch&iacute; Minh, Vi&#x1EC7;t Nam
        p.text-gray-400 Email: info@phonestore.com
        p.text-gray-400 &Dstrok;i&#x1EC7;n tho&#x1EA1;i: (123) 456-7890
      div
        h3.text-lg.font-semibold.mb-4 Theo d&otilde;i ch&uacute;ng t&ocirc;i
        .flex.space-x-4
          a.text-gray-400(href='#' class='hover:text-white')
            i.fab.fa-facebook-square
          a.text-gray-400(href='#' class='hover:text-white')
            i.fab.fa-twitter-square
          a.text-gray-400(href='#' class='hover:text-white')
            i.fab.fa-instagram-square
    .border-t.border-gray-800.mt-8.pt-8.text-center
      p.text-gray-400 &copy; 2023 PhoneStore. T&#x1EA5;t c&#x1EA3; c&aacute;c quy&#x1EC1;n &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o l&#x1B0;u.
