mixin sub-menu(records, path)
    ul.menu1
        each record in records
            li.menu2
                a(href=path + record.slug) #{record.title}
                if record.child 
                    +sub-menu(record.child, path)