doctype html
head
    title #{pageTitle}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel ="stylesheet" ,href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css")
    script(src="https://cdn.tailwindcss.com")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="/css/checkoutSuccess.css")
    link(rel="stylesheet", href="/css/subMenu.css")

    link(rel="stylesheet", href="/css/product.css")

body 
    include ../partials/header
    main.mt-20
    block main 
    include ../partials/footer
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js")
    script.
            AOS.init();
    script(src="/js/script.js") 


